<%- include('../../partials/header.ejs') %> <%-
include('../../partials/navbar.ejs') %>

<div class="container">
  <hr />
  <h2>Categorias</h2>
  <a class="btn btn-success" href="/admin/categories/new"
    >Criar nova categoria</a
  >
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => { %>
      <tr>
        <th><%= category.id %></th>
        <th><%= category.title %></th>
        <th><%= category.slug %></th>
        <th>
          <form
            method="GET"
            action="/admin/categories/edit/<%= category.id %>"
            style="display: inline"
          >
            <input type="hidden" name="id" value="<%= category.id %>" />
            <button class="btn btn-warning">Editar</button>
          </form>

          <form
            method="POST"
            action="/categories/delete"
            style="display: inline"
            onsubmit="confirmDelete(event)"
          >
            <input type="hidden" name="id" value="<%= category.id %>" />
            <button class="btn btn-danger">Excluir</button>
          </form>
        </th>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer.ejs') %>

<script>
  // funcao para confirmar a exclusão de uma categoria
  function confirmDelete(event) {
    event.preventDefault();
    confirm("Você tem certeza que deseja excluir esta categoria?") &&
      event.target.submit();
  }
</script>
